<style>
    /* Estimation */
#estimation{
    margin-top:10px;
}
#estimation img {
    width: 100%;
    max-width: 150px;
}
#estimation td{
    color: white;
    text-align: left;
    font-size: 14px;
    padding: 5px 1px;
}
</style>
<fieldset id="estimation">
    <legend id="device-name">Image Estimation Volume</legend>
    <table>
        <tbody>
            <tr>
                <td>
                    <img id="device-raw" src="{{ url_for('static', filename='img/notfound.jpg') }}" alt="Raw Image">
                    <p style="margin:0;">Raw Image</p>
                </td>
                <td>
                    <img id="device-estimation" src="{{ url_for('static', filename='img/notfound.jpg') }}" alt="Estimation Image">
                    <p style="margin:0;">Computed Estimation</p>
                </td>	
            </tr>
        </tbody>
    </table>
    <table> 
        <tbody>
            <tr>
                <td>Capacity</td>
                <td id="device-capacity">0</td>	
            </tr>
            <tr>
                <td>Battery</td>
                <td id="device-battery">0</td>	
            </tr>
            <tr>
                <td>Location</td>
                <td id="device-coordinate">-</td>	
            </tr>
            <tr>
                <td>Mode</td>
                <td id="device-mode">-</td>	
            </tr>
            <tr>
                <td>Timestamp</td>
                <td id="device-time">-</td>	
            </tr>
        </tbody>
    </table>
</fieldset>