<style>
    #estimation {
        margin-top: 10px;
    }

    #estimation img {
        width: 100%;
        max-width: 150px;
    }

    #estimation td {
        color: white;
        font-size: 14px;
        padding: 5px;
    }
</style>
<fieldset id="estimation">
    <legend>Capacity Estimation</legend>
    <table>
        <tbody>
            <tr>
                <td>
                    <img id="device-raw" src="{{ url_for('static', filename='img/notfound.jpg') }}" alt="Raw Image">
                </td>
                <td>
                    <img id="device-estimation" src="{{ url_for('static', filename='img/notfound.jpg') }}" alt="Estimation Image">
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td class="text-left">Capacity</td>
                <td id="device-capacity" class="text-right">0</td>
            </tr>
            <tr>
                <td class="text-left">Battery</td>
                <td id="device-battery" class="text-right">0</td>
            </tr>
            <tr>
                <td class="text-left">Location</td>
                <td id="device-coordinate" class="text-right">-</td>
            </tr>
            <tr>
                <td class="text-left">Mode</td>
                <td id="device-mode" class="text-right">-</td>
            </tr>
            <tr>
                <td class="text-left">Timestamp</td>
                <td id="device-time" class="text-right">-</td>
            </tr>
        </tbody>
    </table>
</fieldset>