<fieldset>
    <legend>Notification</legend>
    <div class="grid">
        <div class="grid-container">
            <table>
                <thead>
                    <tr class="header">
                        <th>
                            Device
                        </th>
                        <th>
                            No Phone
                        </th>
                        <th>
                            Status
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lasida</td>
                        <td>08561655028</td>
                        <td>Sent</td>
                    </tr>
                    <!-- <tr>
                        <td>VCM-02</td>
                        <td>08561655028</td>
                        <td>Sent</td>
                    </tr> -->

                </tbody>
            </table>
        </div>
    </div>
</fieldset>