<fieldset>
    <legend>Notification</legend>
    <div class="grid">
        <div class="grid-container">
            <table>
                <thead>
                    <tr class="header">
                        <th>
                            Device
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Status
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for stack in stackholder %}
                        <tr id="">
                            <td>{{stackholder[stack]}}</td>
                            <td>{{stack}}</td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</fieldset>