html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: rgb(20,21,49);
    /* background: linear-gradient(180deg, rgba(20,21,49,1) 36%, rgba(46,50,111,1) 100%); */
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #ffffff;
}


/* CSS */

.col {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}


/* .container {
    max-width: 90em;
} */

/* you only need width to set up columns; all columns are 100%-width by default, so we start
   from a one-column mobile layout and gradually improve it according to available screen space */

/* @media only screen and (min-width: 34em) {

    .feature,
    .info {
        width: 50%;
    }
}

@media only screen and (min-width: 54em) {
    .content {
        width: 66.66%;
        height: 40vh
    }

    .sidebar {
        width: 33.33%;
        height: 50vh;
    }

    .info {
        width: 100%;
    }
} */

/* @media only screen and (min-width: 76em) {
    .content { width: 58.33%; } 
    .sidebar { width: 41.66%; }
    .info    { width: 50%;    }
} */

/* .dark{
    background-color: black;
    color: #fff;
} */
.grid {
    position: relative;
    /* border: 1px solid #292929; */
    /* padding-top: 37px; */
    font-size: 14px;
    width: 100%;
}

.grid-container {
    overflow-y: auto;
    max-height: 250px;
}



table {
    border-spacing: 0;
    width: 99.9%;
    text-align: center;
    border-collapse: collapse;
}

/* td+td {
    border-left: 1px solid #292929;
} */


table td,
table th {
    padding: 5px;
    /* cellpadding */
}

td {
    /* border-bottom: 1px solid #292929; */
    /* background: #fff; */
    color: #fff;
    padding: 10px 25px;
    border: none;
    /* border-color: #6e6e6e;
    border-style: solid;
    border-width: 1px 0 1px 0; */
}

/* td p{
    color: #fff;
} */


/* th div {
    position: absolute;
    background: transparent;
    color: #454545;
    padding: 9px 25px;
    top: 0;
    margin-left: -25px;
    line-height: normal;

} */
/* table td:first-child {
    border-left: 1px solid #6e6e6e;
}

table td:last-child {
    border-right: 1px solid #6e6e6e;
} */


fieldset {
    background: rgba(32, 34, 82, 0.6);
    border-color: transparent;
    border-width: 3px;
    border-style: double;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
    margin: 0;
    width: 315px;
    padding: 10px;
}

/* @media (min-width: 600px) {
    .dark fieldset {
        border-color: #454545;
        border-width: 3px;
        border-style: double;
        font-size: 15px;
        font-weight: 600;
        height: 100%;
        width: 80%;
        margin: 7px 7px;
        padding: 15px;
    }
} */

legend {
    padding: 0.2em 0.5em;
    color: #ffffff;
    font-size: 90%;
    text-align: center;
    position: relative;
}

legend:before {
    position: absolute;
    content: '';
    height: 8px;
    border-left: 1px solid gray;
    left: 0px;
    top: 7px;
}

legend:after {
    position: absolute;
    content: '';
    height: 8px;
    border-right: 1px solid gray;
    right: 0px;
    top: 7px;
}

.grid-container .active {
    background: #6e6e6e;
}

.grid-container .active td {
    color: gray;
}

fieldset.wrap {
    word-break: break-word;
    /* overflow: auto; */
}

/* Scoreeld */

.scroller-outer {

    height: 300px;
    /* border: solid 2px #6e6e6e; */
    position: relative;
    overflow: hidden;

}

.scroller-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;

    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 2;

    /* border: solid 2px blue; */
    overflow: scroll;

}


tr.on td{
    color: greenyellow;
}

a{
    text-decoration: none;
    color: greenyellow;
}
/* 


.w70{
      width: 100%;
  }
  .w30{
      width: 100%;
  }
  @media (min-width: 600px) {

      .w70{
      width: 70%;
  }
  .w30{
      width: 30%;
  }
  }


  .detail-data img{
      margin-top: 5px;
      width: 150px;
  }

  /* .detail-data td{
  border: 1px solid #6e6e6e; 
  } */

/* 

  header h2{
      font-size: 16px;
      display: inline-block;
      margin: 10px;
  }

  p{ margin:0; }

  .text-right{
      text-align: right;
  }  */


.container {
    padding: 10px 0;
}

.row {
    display: flex;
    flex-direction: column-reverse;
}

/* Header */
header h1 {
    font-size: 1.3rem;
    display: inline-block;
    margin: 5px 0;
}

header p {
    margin: 0;
}

fieldset {
    margin: 0 -2px;
}

fieldset legend {
    color: greenyellow;
    font-weight: 600;
}

.text-right {
    text-align: right;
    margin-right: 5px;
}

.text-left {
    text-align: left;
    margin-left: 5px;
}